{
  "presets": "next/babel",
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "Components": "./components"
        }
      }
    ],
    ["transform-define", "./env-config.js"]
  ]
}